@model DomainModel.ViewModel.Categories.NewsCategoryAddEditModel

@{
    Layout = null;
    var drpRoots = (SelectList)ViewBag.drpParent;
}

@*<h4>NewsCategoryAddEditModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="frm-saveAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>دسته والد </label>    
                <select asp-for="ParentId" asp-items="@drpRoots"></select>
            </div>


            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDescription" class="control-label"></label>
                <input asp-for="SmallDescription" class="form-control" />
                <span asp-validation-for="SmallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>

            </div>*@
            <div class="form-group">
                <span class="btn btn-primary  saveAdd" data-controller=" NewsCategory" data-action="Add" data-form-id="frm-saveAdd">SaveRegister</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

