

<div style="position:relative">
    <div class="waiting">
        @*<img src="~/SpnnerGif/Israel flag.gif" alt="" />*@
        <img src="~/SpnnerGif/Iphone-spinner-2.gif" />

    </div>
</div>

<div id="dvContent" data-controller=" NewsCategory" data-action="List" data-search-form="frmSearch"></div>
@section Scripts
{
    <script>

        function SuccessMessage(successText) {
            window.swal.fire({
                icon: 'success',
                text: successText

            });

        }

        function ErrorMessage(errorTxt) {
            window.swal.fire({
                icon: 'error',
                title: 'خطا',
                text: errorTxt
            });
        }

        function BindGrid() {
            var action = window.$("#dvContent").attr("data-action");
            var controller = window.$("#dvContent").attr("data-controller");
            var sendingUrl = `${controller}/${action}`;
            var sendingData = null;
            window.$(".waiting").css("display", "flex");

            window.$.get(sendingUrl,
                null,
                function (result) {
                    window.$("#dvContent").html(result);
                    window.$(".waiting").css("display", "none");
                });
        }

        $(document).ready(function () {
            BindGrid();
        });

        $(document).on("click",
            ".spn-delete",
            function () {
                if (confirm('are you sure?')) {
                    var action = window.$(this).attr("data-action");
                    var controller = window.$(this).attr("data-controller");
                    var id = window.$(this).attr("data-id");
                    var sendingUrl = `${controller}/${action}`;
                    var sendingData = `id=${id}`;

                    window.$(".waiting").css("display", "flex");
                    window.$.post(sendingUrl,
                        sendingData,
                        function (op) {

                            if (op.success.toString() === "true") {
                                var trId = `#tr-${id}`;
                                $(trId).fadeOut(1000);
                                BindGrid();
                                SuccessMessage(op.message);
                                window.$(".waiting").css("display", "none");

                            } else {
                                ErrorMessage(op.message);
                                window.$(".waiting").css("display", "none");
                            }

                        });
                }
            });

        $(document).on("click",
            ".spn-edit",
            function () {
               
                var action = window.$(this).attr("data-action");
                var controller = window.$(this).attr("data-controller");
                var id = window.$(this).attr("data-id");
                var sendingUrl = `${controller}/${action}`;
                var sendingData = `id=${id}`;
                window.$("#exampleModal").modal('show');
                window.$.get(sendingUrl, sendingData, function (result) {
                    window.$("#dvModal").html(result);
                  
                });
            });

        $(document).on("click",".spn-register-CategoryAddEditModel",function() {

        });
    </script>
}
