

<div style="position:relative">
    <div class="waiting">
        @*<img src="~/SpnnerGif/Israel flag.gif" alt="" />*@
        <img src="~/SpnnerGif/Iphone-spinner-2.gif" />

    </div>
</div>

<span class="btn btn-primary spnOpenAddModal" data-controller="NewsCategory" data-action="Add">Add</span>
<div id="dvContent" data-controller=" NewsCategory" data-action="List" data-search-form="frmSearch"></div>



