

<div class="col-lg-9 col-md-8">
    <div class="mt-3">
        <div class="border-bottom ">
            <div class="p-3">
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: right">
                            <span class="font_15 bg-resane">درباره ما</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="mt-2">

            <section>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">
                                <span class="date_en" style="font-weight: bold">
                                    وب سایت خبری اردیبهشت  در یک نگاه
                                </span>
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="style-about-us">
                                <span class="date_en">

                                    وب سایت خبری اردیبهشت  مرکزی ملی است که به منظور آموزش مهارتهای حرفه ای خبرنگاری و رشد و شکوفایی استعدادهای بالقوه جوانان علاقمند به این حرفه و پوشش جامع خبری (ملی و فرا ملی) توسط معاونت سیاسی سازمان صدا و سیمای جمهوری اسلامی ایران در سال 1378 تاسیس گردید.
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
            </section>
            <section>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">
                                <span class="date_en" style="font-weight: bold">
                                    نحوه همکاری با وب سایت خبری اردیبهشت
                                </span>
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="style-about-us">
                                <span class="date_en">

                                    در راستای اهداف وب سایت خبری اردیبهشت  طبق برنامه ریزی به عمل آمده از سوی واحد آموزش دوره های آموزشی خبر در سطوح مختلف آموزشی (مقدماتی و تکمیلی) برگزار می گردد که داوطلبین می بایست فرم عضویت را تکميل همراه با مدارک لازم جهت ثبت نام به باشگاه تحويل دهند.

                                    پس از بررسی های لازم،طبق ضوابط باشگاه از داوطلبان برای شرکت در دوره های آموزشی دعوت به عمل می آید.

                                    کسانی که آموزشهای سطوح چند گانه باشگاه را با موفقیت به پایان برسانند به دریافت کارت خبرنگاری نائل خواهند شد.خبرنگاران پس از ادای سوگند و انتخاب سرویس خبری که بر اساس علاقه مندی شان صورت می گیرد می توانند به عنوان خبرنگار آزاد با باشگاه همکاری نمايند.

                                    بدیهی است این امر به معنی تعهد استخدامی باشگاه نسبت به اعضاء نیست،ضمن اینکه حقوق مادی و معنوی اعضاء برای اخبار ارسالی محفوظ خواهد بود
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
            </section>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="~/Visitory/img/3-1.jpg" class="img-fluid">
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<div class="col-lg-3 d-lg-inline-block d-none">
    <div class="bg-content-whit border mt-3">
        @await Component.InvokeAsync("VisitorsTrendNews")
        @await Component.InvokeAsync("SpecialNews")
    </div>
</div>