

<div class="col-lg-9 col-md-8">
    <div class="mt-3">
        <div class="border-bottom ">
            <div class="p-3">
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: right">
                            <span class="font_15 bg-resane">تماس با ما</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="mt-2">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr class="style-td">
                            <th> واحد ها</th>
                            <th> پست الکترونیک</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="style-td">
                            <td>دفتر ریاست</td>
                            <td>president@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>پشتیبانی فنی سایت</td>
                            <td>Informatic@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>اتاق خبر</td>
                            <td>newsroom@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>امور استان ها</td>
                            <td>state@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>امور آموزش</td>
                            <td>education@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td> گروه عکس</td>
                            <td>Photos@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه سیاسی</td>
                            <td>political@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه اقتصادی</td>
                            <td>Commercial@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه علمی و پزشکی</td>
                            <td>science@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه فرهنگی هنری</td>
                            <td>art@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه ورزشی</td>
                            <td>sports@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه اجتماعی</td>
                            <td>social@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه بین الملل</td>
                            <td>world@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه فضای مجازی</td>
                            <td>cyberspace@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>گروه ششهروند خبر نگار</td>
                            <td>freereporter@yjc.ir</td>
                        </tr>
                        <tr class="style-td">
                            <td>دور نگار خبر نگار</td>
                            <td class="date_en">22012642</td>
                        </tr>
                        <tr class="style-td">
                            <td>امور آموزش</td>
                            <td class="date_en">22012654 - 22012653</td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <section>
                <div class="mt-3">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">
                                <span class="date_en">
                                    نشاني : تهران ، خيابان وليعصر بالاتر از خيابان جام جم ، باشگاه خبرنگاران - صندوق پستي: 658-19935
                                </span>
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="text-center">
                                <span class="date_en" style="font-weight: bold">
                                    [سوژه‌های خود را از طریق پیام رسان سروش به شماره 09303001947 و یا شماره پیامک 10001915 برای ما ارسال نمایید.]
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="mt-5">
                    <form method="post" action="/" name="contactus">
                        <div class="form-group">
                            <div type="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="text-right mt-2">
                                                <label class="font_16"> نام:</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="text-center">
                                                <input class="form-control" type="text" name="name">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div type="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="text-right mt-2">
                                                <label class="font_16"> *ایمیل:</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="text-center">
                                                <input class="form-control" type="email" name="email">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div type="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="text-right mt-2">
                                                <label class="font_16"> *گیرنده:</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="text-center">
                                                <select class="form-control" name="name">
                                                    <option value="1">پیش فرض</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div type="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="text-right mt-2">
                                                <label class="font_16"> *پیغام:</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="text-center">
                                                <textarea class="form-control" name="email">
                                                 </textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-default font_12" name="submitbutt" style="color: #fff">
                                        ارسال نظر
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
</div>

<div class="col-lg-3 d-lg-inline-block d-none">
    <div class="bg-content-whit border mt-3">
        @await Component.InvokeAsync("VisitorsTrendNews")
        @await Component.InvokeAsync("SpecialNews")
    </div>
</div>
