@model NewSite.ViewModels.Security.ChangePasswordViewModel
@{
    Layout = "_ProfileLayout";
    ViewData["selected"] = "changePassword";
    var successMessage = TempData["successChangePassword"]?.ToString();
}
<div class="tab-pane fade active show" id="password" role="tabpanel">
    @if (successMessage!=null)
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Password</h5>
            <form asp-controller="UserProfile" asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label asp-for="CurrentPassword" >Current password</label>
                    <input type="password" class="form-control" asp-for="CurrentPassword">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    <small><a href="#">Forgot your password?</a></small>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New password</label>
                    <input type="password" class="form-control" asp-for="NewPassword">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmedNewPassword"></label>
                    <input type="password" class="form-control" asp-for="ConfirmedNewPassword">
                    <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
                </div> <button type="submit" class="btn btn-primary mt-2">ChangePassword</button>
            </form>
        </div>
    </div>
</div>