

<div class="bg-content-whit border mt-3">
    <ul class="nav nav-tabs aaa">
        <li class="nav-item">
            <a class="nav-link active color-btn font_13" data-toggle="tab" href="#home1" style="text-align: center">برگزیده ها</a>
        </li>
        <li class="nav-item">
            <a class="nav-link color-btn font_13" data-toggle="tab" href="#menu11" style="text-align: center">آخرین اخبار</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane  active " id="home1">
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        بازداشت یکی از عوامل اصلی شبکه تروریستی سعودی اینترنشنال در ایران
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        یارانه نقدی آبان یک روز زودتر واریز شد
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        اکتشافات مهم تاریخی که جهان را در حیرت فرو برد + تصاویر
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        شوخی کی روش با وزیر ورزش
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        شوخی کی روش با وزیر ورزش
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                    </span>
                </a>
            </div>
        </div>
        <div class="tab-pane fade" id="menu11">
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        اکتشافات مهم تاریخی که جهان را در حیرت فرو برد + تصاویر
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        شوخی کی روش با وزیر ورزش
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        علت فوت نسرین قادری مسمومیت ناشی از مصرف متانول است
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        شوخی کی روش با وزیر ورزش
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        پاسخ امیرعبداللهیان به اظهارات مداخله جویانه وزیر خارجه آلمان
                    </span>
                </a>
            </div>
            <div class="px-3 pt-2 pb-1">
                <a href="show-news.html">
                    <div class="circle-titr"></div>
                    <span class="font_12 color-text">
                        آیا شما دنبال راضی نگه داشتن دیگران هستید؟
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>