
@model DomainModel.ViewModel.IAdvertisement.AdvertisementAddEditModel

<!--begin header -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="header-border-top p-1" style="color: #5e5e5e">

                1401 / 08/18
                <span class="mx-2 ">
                    08 : 18
                </span>

            </span>
            <span>
                <a href="#" class="header-btn-border">
                    استرالیا
                </a>
            </span>
        </div>
    </div>
</div>
<!--end header -->
<!--begin menu -->
<div class="container">

    <div class="row ">

        <div class="col-lg-2 col-md-4 col-12 mt-sm-2 order-md-1 order-lg-1">
            <div class="text-center">
                <a href="index.html">
                    <img src="~/Visitory/img/1111.png" class="img-fluid "  >
                </a>
            </div>
        </div>

        <div class="col-lg-7 col-md-12 col-12 order-md-3 order-lg-2">
            <div class="">
              
                <a href="@Model.LinkUrl">
                    <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Alt" class="img-fluid mb-3">
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-12 order-md-2 order-lg-3">
            <div class="top-search margin-search mt-md-5 mt-lg-4">
                <form method="get"  asp-controller="Home" asp-action="Index">
                    <input name="phrase" type="text" class="form-control" placeholder="جستو جو در همه اخبار">
                    <button type="submit" class="bg-search">
                        <i class="fa fa-search icon-header-color "></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>