<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewSite.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NewSite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NewsCategory" asp-action="Index">showNewsCategory</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NewSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* ----------------------------------Modal---------------------------- *@
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="dvModal">

                    </div>
                </div>

            </div>
        </div>
    </div>
    @* ----------------------------------End------------------------------ *@
  
    <script>

        function SuccessMessage(successText) {
            window.swal.fire({
                icon: 'success',
                text: successText

            });

        }

        function ErrorMessage(errorTxt) {
            window.swal.fire({
                icon: 'error',
                title: 'خطا',
                text: errorTxt
            });
        }

        function BindGrid() {
            var action = window.$("#dvContent").attr("data-action");
            var controller = window.$("#dvContent").attr("data-controller");
            var sendingUrl = `${controller}/${action}`;
            var sendingData = null;
            window.$(".waiting").css("display", "flex");

            window.$.get(sendingUrl,
                null,
                function (result) {
                    window.$("#dvContent").html(result);
                    window.$(".waiting").css("display", "none");
                });
        }

        $(document).ready(function () {
            BindGrid();
        });

        $(document).on("click",
            ".spn-delete",
            function () {
                if (confirm('are you sure?')) {
                    var action = window.$(this).attr("data-action");
                    var controller = window.$(this).attr("data-controller");
                    var id = window.$(this).attr("data-id");
                    var sendingUrl = `${controller}/${action}`;
                    var sendingData = `id=${id}`;

                    window.$(".waiting").css("display", "flex");
                    window.$.post(sendingUrl,
                        sendingData,
                        function (op) {

                            if (op.success.toString() === "true") {
                                var trId = `#tr-${id}`;
                                $(trId).fadeOut(1000);
                                BindGrid();
                                SuccessMessage(op.message);
                                window.$(".waiting").css("display", "none");

                            } else {
                                ErrorMessage(op.message);
                                window.$(".waiting").css("display", "none");
                            }

                        });
                }
            });

        $(document).on("click", ".spn-edit", function () {

            var action = window.$(this).attr("data-action");
            var controller = window.$(this).attr("data-controller");
            var id = window.$(this).attr("data-id");
            var sendingUrl = `${controller}/${action}`;
            var sendingData = `id=${id}`;

            window.$.get(sendingUrl, sendingData, function (result) {

                window.$.validator.unobtrusive.parse(window.$(result));
                window.$("#dvModal").html(result);
                window.$("#exampleModal").modal('show');


            });
        });

        $(document).on("click",
            ".spn-register-CategoryAddEditModel",
            function () {

            });

        //save-update
        $(document).on("click",
            ".save-update",
            function () {
                let controller = $(this).attr("data-controller");
                let action = $(this).attr("data-action");
                var sendingUrl = `${controller}/${action}`;
                var formid = "#" + $(this).attr("data-form-id");
                var sendingData = $(formid).serialize();
                $.post(sendingUrl,
                    sendingData,
                    function (op) {
                        if (op.success.toString() === "true") {
                            window.$("#exampleModal").modal('hide');
                            BindGrid();
                            SuccessMessage(op.message);
                        } else {
                            ErrorMessage(op.message);
                        }
                    });
            });

        $(document).on("click",
            ".spnOpenAddModal",
            function () {

                let controller = $(this).attr("data-controller");
                let action = $(this).attr("data-action");
                let sendingUrl = `${controller}/${action}`;
                let sendingData = null;


                $.get(sendingUrl, sendingData, function (viewAdd) {

                    $("#dvModal").html(viewAdd);
                    $("#exampleModal").modal('show');

                });




            });

        //saveAdd
        $(document).on("click", ".saveAdd", function (e) {

            let controller = $(this).attr("data-controller");
            let action = $(this).attr("data-action");
            var sendingUrl = `${controller}/${action}`;
            var formid = "#" + $(this).attr("data-form-id");
            var sendingData = $(formid).serialize();
            $.post(sendingUrl,
                sendingData,
                function (op) {
                    if (op.success.toString() === "true") {
                        window.$("#exampleModal").modal('hide');
                        BindGrid();
                        SuccessMessage(op.message);
                    } else {
                        ErrorMessage(op.message);
                    }
                });
        });


    </script>
</body>
</html>
